body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1, p {
    color: #333;
    text-align: center;
}

.hero {
    background-color: #f8f9fa;
    padding: 100px 0;
}

.hero h1 {
    margin-top: 50px;
}

.hero p {
    color: #666;
}

.hero .btn {
    margin-top: 20px;
}
