aiofiles==24.1.0
amqp==5.2.0
annotated-types==0.7.0
anyio==4.4.0
asgiref==3.8.1
async-timeout==4.0.3
billiard==4.2.0
blinker==1.8.2
Brotli==1.1.0
cachelib==0.9.0
celery==5.4.0
certifi==2024.6.2
chardet==5.2.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
dnspython==2.6.1
email_validator==2.2.0
exceptiongroup==1.2.1
fastapi==0.111.0
fastapi-cli==0.0.4
Flask==3.0.3
Flask-Caching==2.3.0
Flask-Compress==1.15
flask-squeeze==3.0.9
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
Hypercorn==0.17.3
hyperframe==6.0.1
idna==3.7
importlib_metadata==8.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
kombu==5.3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
orjson==3.10.5
pillow==10.4.0
priority==2.0.0
prompt_toolkit==3.0.47
pydantic==2.7.4
pydantic_core==2.18.4
Pygments==2.18.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
PyYAML==6.0.1
Quart==0.19.6
rcssmin==1.1.2
redis==5.0.7
reportlab==4.2.2
rich==13.7.1
rjsmin==1.2.2
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
starlette==0.37.2
taskgroup==0.0.0a4
tomli==2.0.1
typer==0.12.3
typing_extensions==4.12.2
tzdata==2024.1
ujson==5.10.0
uvicorn==0.30.1
uvloop==0.19.0
vine==5.1.0
watchfiles==0.22.0
wcwidth==0.2.13
websockets==12.0
Werkzeug==3.0.3
wsproto==1.2.0
zipp==3.19.2
zstandard==0.22.0
