<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewsBridge</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/feed.css') }}">
    <style>
        .news-card {
            position: relative;
            padding: 20px;
            margin: 10px 0;
            border: 1px solid #ddd;
            border-radius: 15px;
            background-color: #fff;
            transition: box-shadow 0.3s;
        }
        .news-card:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .news-card a {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }
    </style>
</head>
<body class="font-sans antialiased">
    <nav class="custom-nav text-white rounded-full w-auto">
        <div class="flex justify-around p-2">
            <a href="/" class="flex flex-col items-center"><i class="fas fa-home"></i></a>
            <div class="separator"></div>
            <a href="/market-prediction" class="flex flex-col items-center"><i class="fas fa-chart-line"></i></a>
            <div class="separator"></div>
            <a href="/news-analysis" class="flex flex-col items-center"><i class="fas fa-newspaper"></i></a>
            <div class="separator"></div>
            <a href="/news-analysis-keywords" class="flex flex-col items-center"><i class="fas fa-cogs"></i></a>
        </div>
    </nav>

    <div class="sidebar" id="sidebar">
        <h2 class="text-xl font-bold mb-4">ADNOC NewsBridge</h2>
        <nav>
            <h3 class="text-lg font-semibold mt-6 mb-2">Sentiment Analysis</h3>
            <a href="#today" class="sidebar-link"><i class="fas fa-newspaper"></i>Analysis Report</a>
            <h3 class="text-lg font-semibold mt-6 mb-2">Market Analysis</h3>
            <a href="#marketanalysis" class="sidebar-link"><i class="fas fa-chart-line"></i>Brent</a>
            <a href="#marketanalysis1" class="sidebar-link"><i class="fas fa-chart-bar"></i>WTI</a>
            <a href="#marketanalysis2" class="sidebar-link"><i class="fas fa-chart-line"></i>RBOB</a>
            <a href="#marketanalysis3" class="sidebar-link"><i class="fas fa-chart-bar"></i>EBOB</a>
            <a href="#marketanalysis4" class="sidebar-link"><i class="fas fa-chart-bar"></i>CBOB</a>
        </nav>
    </div>

    <div class="content">
        <div id="today" class="content-section active">
            <h1 class="text-2xl font-bold mb-4">Analysis Report</h1>
            <div class="news-card">
                <a href="{{ url_for('split_screen2') }}"></a>
                <h2>Report - {{current_date}}</h2>
                <h4> Keywords Passed: </h4>
                {% for keyword in keywords %}
                    <p>{{ keyword }}</p>
                {% endfor %}
            </div>
        </div>
        {% for category in selected_avatars %}
            <div id="{{ category | lower | replace(' ', '') }}" class="content-section">
                <h1 class="text-2xl font-bold mb-4">{{ category }}</h1>
                <div class="news-card" data-pdf="{{ category }}" data-title="{{ category }} News 1">
                    <h2>Summary Report</h2>
                    <p>Summary of the news content goes here.</p>
                </div>
                <div class="news-card" data-pdf="{{ category }}" data-title="{{ category }} News 2">
                    <h2>Sources</h2>
                    <p>Summary of the news content goes here.</p>
                </div>
            </div>
        {% endfor %}
        <div id="marketanalysis" class="content-section">
            <h1 class="text-2xl font-bold mb-4">Market Analysis - Brent</h1>
            <div class="news-card-container">
                <div class="news-card market-analysis-card">
                    <h2>Current Price</h2>
                    <span class="animated-number" data-target="72.78">0</span>
                </div>
                <div class="news-card market-analysis-card">
                    <h2>Moving Average</h2>
                    <span class="animated-number" data-target="71.128">0</span>
                </div>
                <div class="news-card market-analysis-card">
                    <h2>Trend</h2>
                    <span class="trend-text" data-target="Bullish">Bearish</span>
                </div>
            </div>
        </div>
        <div id="marketanalysis1" class="content-section">
            <h1 class="text-2xl font-bold mb-4">Market Analysis - WTI</h1>
            <div class="news-card-container">
                <div class="news-card market-analysis-card">
                    <h2>Current Price</h2>
                    <span class="animated-number" data-target="72.78">0</span>
                </div>
                <div class="news-card market-analysis-card">
                    <h2>Moving Average</h2>
                    <span class="animated-number" data-target="71.128">0</span>
                </div>
                <div class="news-card market-analysis-card">
                    <h2>Trend</h2>
                    <span class="trend-text" data-target="Bullish">Bearish</span>
                </div>
            </div>
        </div>
        <div id="marketanalysis2" class="content-section">
            <h1 class="text-2xl font-bold mb-4">Market Analysis - RBOB</h1>
            <div class="news-card-container">
                <div class="news-card market-analysis-card">
                    <h2>Current Price</h2>
                    <span class="animated-number" data-target="72.78">0</span>
                </div>
                <div class="news-card market-analysis-card">
                    <h2>Moving Average</h2>
                    <span class="animated-number" data-target="71.128">0</span>
                </div>
                <div class="news-card market-analysis-card">
                    <h2>Trend</h2>
                    <span class="trend-text" data-target="Bullish">Bearish</span>
                </div>
            </div>
        </div>
        <div id="marketanalysis3" class="content-section">
            <h1 class="text-2xl font-bold mb-4">Market Analysis - EBOB</h1>
            <div class="news-card-container">
                <div class="news-card market-analysis-card">
                    <h2>Current Price</h2>
                    <span class="animated-number" data-target="72.78">0</span>
                </div>
                <div class="news-card market-analysis-card">
                    <h2>Moving Average</h2>
                    <span class="animated-number" data-target="71.128">0</span>
                </div>
                <div class="news-card market-analysis-card">
                    <h2>Trend</h2>
                    <span class="trend-text" data-target="Bullish">Bearish</span>
                </div>
            </div>
        </div>
        <div id="marketanalysis4" class="content-section">
            <h1 class="text-2xl font-bold mb-4">Market Analysis - CBOB</h1>
            <div class="news-card-container">
                <div class="news-card market-analysis-card">
                    <h2>Current Price</h2>
                    <span class="animated-number" data-target="72.78">0</span>
                </div>
                <div class="news-card market-analysis-card">
                    <h2>Moving Average</h2>
                    <span class="animated-number" data-target="718">0</span>
                </div>
                <div class="news-card market-analysis-card">
                    <h2>Trend</h2>
                    <span class="trend-text" data-target="Bullish">Bearish</span>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/feed.js') }}"></script>
</body>
</html>