<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uimock_loading.css') }}">
</head>
<body>
    <div class="card p-6 rounded-lg shadow-lg text-center">
        <div class="spinner"></div>
    </div>
    <script>
        setTimeout(function() {
            window.location.href = "{{ url_for('uimock_feed') }}";
        }, 1000); // 10 seconds
    </script>
    <script src="{{ url_for('static', filename='js/uimock_loading.js') }}"></script>
</body>
</html>
